.ScrollBox
  display: block
  position: relative
  box-sizing: border-box
  overflow-x: auto
  white-space: nowrap
  word-break: keep-all
  -ms-overflow-style: none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none
